.favorites-section {
    width: 50vw;
    border: 1px solid #292c2f;
    border-radius: 5px;
    color: white;
    padding: 10px;
    /* margin: 20px; */
    min-height: 90vh;
}

.competition {
    background: #292c2f;
    list-style: none;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
  }
  
.competition:hover {
    /* opacity: 0.3; */
    background:inherit;
    border: 1px solid #fff;
}